# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
dist
build

#credentials
.credentials.json

# misc
.DS_Store
.env
.idea
.vscode
npm-debug.log
