.freshdesk-list {
    padding: 2em !important;
    margin: 1em;
    color: #fcfcfc;
    background-color: #0060a4 !important;
    border-radius: 10px !important;
    box-shadow: 1px 12px 26px -11px rgba(0,0,0,0.75);
}
.fr-requester {
    color: #C6BEB5;
    font-weight: bold;
}
.fr-date {
    font-size: 0.85em;
    text-align: center;
}
.fr-title {
    color: #FFD200;
    font-weight: bold;
    font-size: 1.5em;
    margin: 0.4em 0em 0.4em 0em;
}
.fr-description {
    color: #ebebeb;
    font-size: 0.8em;
    margin: 0.2em 0em 0.2em 0em;
}
.fr-tags .fr-tag {
    background-color: #FFD200;
    font-size: 0.6em;
    font-weight: bold;
    padding: 1em;
    width: 10em;
    text-align: center;
    border-radius: 15px;
    margin: 0em 0.2em 0.1em 0em;
}
.fr-tags .fr-empty {
    color: #ebebeb;
}
.fr-tags .fr-empty::before {
    content: "None";
}
.right-col .right-row {
    padding-bottom: 0.5em;
}
.fr-ticket-property {
    color: #ebebeb;
    font-weight: bold;
}